/* https://www.youtube.com/watch?v=EoIxR4cq-Ew&list=PLDoPjvoNmBAzHSjcR-HnW9tnxyuye8KbF&index=2 */
/* https://www.youtube.com/watch?v=_HFognT7dnA&list=PLDoPjvoNmBAzvmpzF-6l3tAviiCPbwkB8&index=6 */

*{
    margin: 0;
    padding: 0;
   box-sizing: border-box; 
   -webkit-box-sizing : border-box;
   -moz-box-sizing: border-box;
}
:root{
    --maincolor:#ffa500;
}

body{
    /* font-family: " work sans"  , sans-serif; */ 
    font-family: 'Open Sans', sans-serif;
}

.setingbox{
    text-align: center;
    width: 15%;
    position: fixed;
    top: 0;
    left:-15%;  
    background-color: white;
    z-index: 100;
    min-height: 100vh;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.setingbox.open{
    left:0;
}

.setingbox .togglesitting {
    position: absolute;
    right: -17%;
    top: 30%;
    background: white;
    cursor: pointer;
    text-align: center;
}

.setingbox .togglesitting .geerr{
    padding: 8px;
    width: 40px;
}

.settingcontainer .colorsoption{

}
.settingcontainer .colorsoption h3{
margin:7% 4% ;
text-transform: uppercase;
text-align: left;
}
.settingcontainer .colorsoption ul{
list-style: none;
padding: 0;
/* text-align: center; */

}
.settingcontainer .colorsoption ul li.act{
opacity: 1;
}
.settingcontainer .colorsoption ul li{
     display: inline-block;
     padding: 2%;
     margin: 1% ;
     opacity: .5;
     width: 22px;
     height: 22px;
     cursor: pointer;
     border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     -webkit-border-radius: 50%;
     background-color: var(--maincolor);
}

.settingcontainer .colorsoption ul li:first-child{
    background-color: orange;
}
.settingcontainer .colorsoption ul li:nth-child(2){
    background-color: #d87093;
}
.settingcontainer .colorsoption ul li:nth-child(3){
    background-color: #afeeee;
}
.settingcontainer .colorsoption ul li:nth-child(4){
    background-color: #7cfc00;
}


.landing{
    /* الساسة تاخد كلها بالطول ولو زاد يكمل  */
    min-height: 100vh;
    background-image: url(../img/284467.jpg);
    background-size:cover;
    position: relative;
}

.overlay{
    background-color: rgba(52, 49, 49, 0.637);
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.header-area{
    z-index: 2;
    color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    padding: 15px;
}

.header-area .logo{
width:20%;
padding: 15px;
font-weight: bold;
font-size: 25px;
}

.header-area .nav{
    list-style: none;
    width: 100%;
    padding: 15px 30px 0 ;
    text-align: right;
    /* padding-left: 0;
    padding-right: 15px; */
    font-size: 18px;
    align-items: center;
    text-transform: capitalize;
}

.header-area .nav li{
    display: inline-block;
    padding-left: 25px; 
}
.header-area .nav li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.header-area .nav li a.acitve , .header-area .nav li a:hover{
    color: var(--maincolor);
}
.intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    z-index:2;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.intro-text h1 {
    font-size: 35px;
    margin: 2% 1% ;
}
.intro-text h1 span {
color: var(--maincolor);
}
.intro-text p {
    font-size: 22px;
    line-height: 1.7;
}