/* https://www.youtube.com/watch?v=EoIxR4cq-Ew&list=PLDoPjvoNmBAzHSjcR-HnW9tnxyuye8KbF&index=2 */
/* https://www.youtube.com/watch?v=_HFognT7dnA&list=PLDoPjvoNmBAzvmpzF-6l3tAviiCPbwkB8&index=6 */

*{
    margin: 0;
    padding: 0;
   box-sizing: border-box; 
   -webkit-box-sizing : border-box;
   -moz-box-sizing: border-box;
}
:root{
    --maincolor:#ffa500;
}

body{
    /* font-family: " work sans"  , sans-serif; */ 
    font-family: 'Open Sans', sans-serif;
}

.container{
    margin: auto;
    width: 95%;
    padding: 0 1%;
}

.setingbox{
    text-align: center;
    width: 15%;
    position: fixed;
    top: 0;
    left:-15%;
    background-color: white;
    z-index: 100;
    /*عشانياخدمساحةالشاشةبالطول*/min-height: 100vh;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.setingbox.open{
    left:0;
}

.setingbox .togglesitting {
    position: absolute;
    right: -17%;
    top: 30%;
    background: white;
    cursor: pointer;
    text-align: center;
}
.setingbox .togglesitting .geerr{
    padding: 8px;
    width: 40px;
}
.settingcontainer .boxoption{
background-color: rgb(199, 198, 198);
padding:4% 2%;
margin: 6%;
color: rgb(99, 81, 81);
}
.settingcontainer .boxoption h3{
margin:7% 4% ;
text-transform: uppercase;
/* text-align: left; */
}
.settingcontainer .boxoption ul{
list-style: none;
padding: 0;
/* text-align: center; */
}
.settingcontainer .boxoption ul li.act{
/* opacity: 100%; */
/* border:2px solid rgb(99, 81, 81) ; */
border-color:rgb(99, 81, 81);
}
.settingcontainer .boxoption ul li{
     display: inline-block;
     padding: 2%;
     margin: 1% ;

     /* opacity: 50%; */
     border:2px solid rgb(199, 198, 198) ;

     width: 22px;
     height: 22px;
     cursor: pointer;
     border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     -webkit-border-radius: 50%;
     background-color: var(--maincolor);
}

.settingcontainer .boxoption ul li:first-child{
    background-color: orange;
}
.settingcontainer .boxoption ul li:nth-child(2){
    background-color: #d87093;
}
.settingcontainer .boxoption ul li:nth-child(3){
    background-color: #6ea9a9;
}
.settingcontainer .boxoption ul li:nth-child(4){
    background-color: #7cfc00;
}

.settingcontainer .boxoption .yes ,.settingcontainer .boxoption .no{
        color: white;
        /*spanmustbedisplayinline-blc*/
        display: inline-block;
        /* background-color: black; */
        padding: 1% 12%;
        margin: 6% 1%;
        cursor: pointer;
        /* font-weight: bold; */
        opacity: 60%;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        background-color: #376969;
}
.settingcontainer .boxoption .activ{
opacity: 100%;
}

.landing{
    /* الساسة تاخد كلها بالطول ولو زاد يكمل  */
    min-height: 100vh;
    background-image: url(../img/284467.jpg);
    background-size:cover;
    position: relative;
}

.overlay{
    background-color: rgba(52, 49, 49, 0.637);
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.header-area{
    z-index: 2;
    color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    padding: 15px;
}

.header-area .logo{
width:20%;
padding: 15px;
font-weight: bold;
font-size: 25px;
}

.header-area .nav{
    list-style: none;
    width: 100%;
    padding: 15px 30px 0 ;
    text-align: right;
    /* padding-left: 0;
    padding-right: 15px; */
    font-size: 18px;
    align-items: center;
    text-transform: capitalize;
}

.header-area .nav li{
    display: inline-block;
    padding-left: 25px; 
}
.header-area .nav li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.header-area .nav li a.acitve , .header-area .nav li a:hover{
    color: var(--maincolor);
}

/* ---------------------------- */
.intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    z-index:2;
    color: white;
    text-align: center;
    text-transform: uppercase;

    width: 70%;
}

.intro-text h1 {
    font-size: 35px;
    margin: 2% 1% ;
}
.intro-text h1 span {
color: var(--maincolor);
}
.intro-text p {
    font-size: 22px;
    line-height: 1.7;
}


/* ------------------------about----------------------- */


.aboutus{
display: flex;
margin: 4% 0;
}

.aboutus .infoboxabout{
flex: 1;
padding: 3% 4%;

}
.aboutus .infoboxabout h3{
font-size: 33px;
font-weight: bold;
color: var(--maincolor);
text-transform: capitalize;
padding: 0 0 3% 0;
}
.aboutus .infoboxabout p{
font-size: 20px;
color: #376969;
line-height: 1.5;
}

.aboutus .imgboxabout{
    flex: 1;
    text-align: center;
}
.aboutus .imgboxabout img{
   width: 45%;
   height: 85%;
   border-radius:40% ;
   -webkit-border-radius:40% ;
   -moz-border-radius:40% ;
   -ms-border-radius:40% ;
   -o-border-radius:40% ;
}

/* ---------------------skills------------- */

.skills{
    margin: 4% 0;
    padding: 4% ;
    text-align: center;
    background-color: rgba(246, 246, 246, 0.88);
}
.skills h3{
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    color: var(--maincolor);
    padding: 0 0 2% 0;
    text-transform: capitalize;
}
.skills .skillsbox{
    margin: 2% 0;
    display: flex;
    width: 100%;
    /* height: 30px;  */
    background-color: white;
    padding: 1%;
}
.skills .skillsbox .skiltitle{
    color: var(--maincolor);
    font-weight: bold;
    /* line-height: 35px; */
    font-size: 19px;
    width: 10%;
    text-align: center;
    padding: 0 2%;
}
.skills .skillsbox .skillprogg{
    width: 100%;
    height:30px;
    background-color: #d8dcdc;
    position:relative;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
}
.skills .skillsbox .skillprogg span{
       position: absolute;
       top: 0;
       left: 0;
       /*width: 30%;
       */width:0;
       height:100%;
       background-color: var(--maincolor);
       border-radius: 8px;
       -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
       -ms-border-radius: 8px;
       -o-border-radius: 8px;
       transition:all .8s ease ;
       -webkit-transition:all .8s ease ;
       -moz-transition:all .8s ease ;
       -ms-transition:all .8s ease ;
       -o-transition:all .8s ease ;
}



/* ------------------------------------- */


/* --------------gallary------------- */

.gallary{
    padding: 2%;
}
.gallary h3{
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    color: var(--maincolor);
    padding: 0 0 2% 0;
    text-transform: capitalize;
}
.gallary .imgs-box-gal{
    width: 80%;
    margin: 2% auto;
    text-align: center;
}

.gallary .imgs-box-gal img{
    width: 300px;
    height: 200px;
    border: 4px solid var(--maincolor);  
    cursor: pointer;
    margin: 0.5%;

}

/* -------------------------------- */





