/* https://www.youtube.com/watch?v=EoIxR4cq-Ew&list=PLDoPjvoNmBAzHSjcR-HnW9tnxyuye8KbF&index=2 */
/* https://www.youtube.com/watch?v=_HFognT7dnA&list=PLDoPjvoNmBAzvmpzF-6l3tAviiCPbwkB8&index=6 */

*{
    margin: 0;
    padding: 0;
   box-sizing: border-box; 
   -webkit-box-sizing : border-box;
   -moz-box-sizing: border-box;
}
:root{
    --maincolor:#ffa500;
}

body{
    /* font-family: " work sans"  , sans-serif; */ 
    font-family: 'Open Sans', sans-serif;
}

.container{
    margin: auto;
    width: 95%;
    padding: 0 1%;
}

.setingbox{
    text-align: center;
    width: 15%;
    position: fixed;
    top: 0;
    left:-15%;
    background-color: white;
    z-index: 100;
    /*عشانياخدمساحةالشاشةبالطول*/min-height: 100vh;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.setingbox.open{
    left:0;
}

.setingbox .togglesitting {
    position: absolute;
    right: -17%;
    top: 30%;
    background: white;
    cursor: pointer;
    text-align: center;
}
.setingbox .togglesitting .geerr{
    padding: 8px;
    width: 40px;
}
.settingcontainer .boxoption{
background-color: rgb(199, 198, 198);
padding:4% 2%;
margin: 6%;
color: rgb(99, 81, 81);
}
.settingcontainer .boxoption h3{
margin:7% 4% ;
text-transform: uppercase;
/* text-align: left; */
}
.settingcontainer .boxoption ul{
list-style: none;
padding: 0;
/* text-align: center; */
}
.settingcontainer .boxoption ul li.act{
/* opacity: 100%; */
/* border:2px solid rgb(99, 81, 81) ; */
border-color:rgb(99, 81, 81);
}
.settingcontainer .boxoption ul li{
     display: inline-block;
     padding: 2%;
     margin: 1% ;

     /* opacity: 50%; */
     border:2px solid rgb(199, 198, 198) ;

     width: 22px;
     height: 22px;
     cursor: pointer;
     border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     -webkit-border-radius: 50%;
     background-color: var(--maincolor);
}

.settingcontainer .boxoption ul li:first-child{
    background-color: orange;
}
.settingcontainer .boxoption ul li:nth-child(2){
    background-color: #d87093;
}
.settingcontainer .boxoption ul li:nth-child(3){
    background-color: #6ea9a9;
}
.settingcontainer .boxoption ul li:nth-child(4){
    background-color: #7cfc00;
}

.settingcontainer .boxoption .yes ,.settingcontainer .boxoption .no{
        color: white;
        /*spanmustbedisplayinline-blc*/
        display: inline-block;
        /* background-color: black; */
        padding: 1% 12%;
        margin: 6% 1%;
        cursor: pointer;
        /* font-weight: bold; */
        opacity: 50%;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        /* background-color: #376969; */
        background-color: var(--maincolor);
}
.settingcontainer .boxoption .activ{
opacity: 100%;
}

.landing{
    /* الساسة تاخد كلها بالطول ولو زاد يكمل  */
    min-height: 100vh;
    background-image: url(../img/284467.jpg);
    background-size:cover;
    position: relative;
}

.overlay{
    background-color: rgba(52, 49, 49, 0.637);
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.header-area{
    z-index: 2;
    color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    padding: 15px;
}

.header-area .logo{
width:20%;
padding: 15px;
font-weight: bold;
font-size: 25px;
}

.header-area .nav{
    list-style: none;
    width: 100%;
    padding: 15px 30px 0 ;
    text-align: right;
    /* padding-left: 0;
    padding-right: 15px; */
    font-size: 18px;
    align-items: center;
    text-transform: capitalize;
}

.header-area .nav li{
    display: inline-block;
    padding-left: 25px; 
}
.header-area .nav li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.header-area .nav li a.acitve , .header-area .nav li a:hover{
    color: var(--maincolor);
}

/* ---------------------------- */
.intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    z-index:2;
    color: white;
    text-align: center;
    text-transform: uppercase;

    width: 70%;
}

.intro-text h1 {
    font-size: 35px;
    margin: 2% 1% ;
}
.intro-text h1 span {
color: var(--maincolor);
}
.intro-text p {
    font-size: 22px;
    line-height: 1.7;
}


/* ------------------------about----------------------- */


.aboutus{
display: flex;
margin: 4% 0;
}

.aboutus .infoboxabout{
flex: 1;
padding: 3% 4%;

}
.aboutus .infoboxabout h3{
font-size: 33px;
font-weight: bold;
color: var(--maincolor);
text-transform: capitalize;
padding: 0 0 3% 0;
}
.aboutus .infoboxabout p{
font-size: 20px;
color: #376969;
line-height: 1.5;
}

.aboutus .imgboxabout{
    flex: 1;
    text-align: center;
}
.aboutus .imgboxabout img{
   width: 45%;
   height: 85%;
   border-radius:40% ;
   -webkit-border-radius:40% ;
   -moz-border-radius:40% ;
   -ms-border-radius:40% ;
   -o-border-radius:40% ;
}

/* ---------------------skills------------- */

.skills{
    margin: 4% 0;
    padding: 4% ;
    text-align: center;
    background-color: rgba(246, 246, 246, 0.88);
}
.skills h3{
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    color: var(--maincolor);
    padding: 0 0 2% 0;
    text-transform: capitalize;
}
.skills .skillsbox{
    margin: 2% 0;
    display: flex;
    width: 100%;
    /* height: 30px;  */
    background-color: white;
    padding: 1%;
}
.skills .skillsbox .skiltitle{
    color: var(--maincolor);
    font-weight: bold;
    /* line-height: 35px; */
    font-size: 19px;
    width: 10%;
    text-align: center;
    padding: 0 2%;
}
.skills .skillsbox .skillprogg{
    width: 100%;
    height:30px;
    background-color: #d8dcdc;
    position:relative;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
}
.skills .skillsbox .skillprogg span{
       position: absolute;
       top: 0;
       left: 0;
       /*width: 30%;
       */width:0;
       height:100%;
       background-color: var(--maincolor);
       border-radius: 8px;
       -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
       -ms-border-radius: 8px;
       -o-border-radius: 8px;
       transition:all .8s ease ;
       -webkit-transition:all .8s ease ;
       -moz-transition:all .8s ease ;
       -ms-transition:all .8s ease ;
       -o-transition:all .8s ease ;
}



/* ------------------------------------- */


/* --------------gallary------------- */

.gallary{
    padding: 2%;
}
.gallary h3{
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    color: var(--maincolor);
    padding: 0 0 2% 0;
    text-transform: capitalize;
}
.gallary .imgs-box-gal{
    width: 80%;
    margin: 2% auto;
    text-align: center;
}

.gallary .imgs-box-gal img{
    width: 300px;
    height: 200px;
    border: 4px solid var(--maincolor);  
    cursor: pointer;
    margin: 0.5%;
}

.pop-overlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color:#0000006a;
    z-index: 1000;
    width: 100%;
    height: 100%;
}
.pop-img-box{
    z-index: 10001;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    -webkit-transform: translate(-50% ,-50%);
    -moz-transform: translate(-50% ,-50%);
    -ms-transform: translate(-50% ,-50%);
    -o-transform: translate(-50% ,-50%);
    /* padding: 1%; */
    border: 4px solid var(--maincolor);
    background-color: white;
}
.pop-img-box h3{
    color: var(--maincolor);
    font-size: 22px;
    padding: 1%;
    text-decoration: underline;
}
.pop-img-box img {
    /* عشان متطلعش برا نحط ماكس */
    /* max-width: 100%; */
    width: 100%;
    height: 100%;
}

.closebtn{
    cursor: pointer;
    font-weight: bolder;
    color: var(--maincolor);
    position: fixed;
    right: -3%;
    top:-4%;
    /* margin: 2px 0; */
    font-size: 22px;
    /* padding: 1px 8px; */
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid var(--maincolor);
}


/* -------------------------------- */





/* ----------------------------------- */
.timeline{
margin: 4% 0;
background-color: lightgray;
padding: 2%;
}
.timeline .timlincont{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    overflow: hidden;
    /* padding: 2%; */
    display: grid;
    grid-template-columns: repeat(2, 45%);
    /* gap:22px; */
    /* gap: 10%; */
    column-gap: 9%;
    grid-auto-rows: minmax(60px, auto);
}
.timeline .timlincont::after{
    content: '';
    position: absolute;
    top:0px;
    left: 50%;
    width: 3px;
    height: 100%;
    background-color: var(--maincolor);
    margin-left: -1px;
}
.timeline .timlincont .year{
    position: relative;
    text-align: center;
    /*left: 50%;
    *//*top: -111px;
    *//*top: 7px;
    left: -38%;
    */padding: 3px;
    width: 55px;
    height: 27px;
    /* top: -1px;
    left: -57%; */
    top: 0px;
    left: -59%;

    margin: 2% auto;
    color: rgb(247, 247, 247);
    font-weight: bold;
    background-color: var(--maincolor);
    z-index: 2;
    /*padding: 2px;
    width: 50px;
    height: 25px;
    */border-radius:6px;
    
}
.timeline .timlincont .left , .timeline .timlincont .right{
    /* width: calc(50% - 25px); */
    /* flex: 1; */
    /* padding: 1.5%;
    margin:4% 3%; */
    padding: 7%;
    margin: 8% 0%;
    background-color: rgb(247, 247, 247);
    line-height: 1.5;
}
.timeline .timlincont .left{
     /* order: 2; */
     grid-column: 1 / 2;
     grid-row: 1;
}
.timeline .timlincont .right{
/* order: 1; */
grid-column: 2;
grid-row: 2;
}
.timeline .timlincont .left h3 , .timeline .timlincont .right h3{
padding: 0% 0;
}
.timeline .timlincont .left p ,.timeline .timlincont .right p{
font-size: 14px;
padding: 4% 0;
}
.timeline .timlincont .left::after{
          content: '';
          position: absolute;
          background-color: rgb(247, 247, 247);
          border: 4px solid var(--maincolor);
          width: 11px;
          height: 11px;
          border-radius:50% ;
          -webkit-border-radius:50% ;
          -moz-border-radius:50% ;
          -ms-border-radius:50% ;
          -o-border-radius:50% ;
          /* top: 30%;
          left: 51%;
          margin: 4px; */
          /* top: 19%;
          left: 50%;
          margin: 5px; */
          top: 18%;
          left: 49%;
          margin: 4px;
          z-index: 3;
}
.timeline .timlincont .left::before{
    content: '';
    position: absolute;
    top: 22%;
    /* left: 48%;
    margin:11px; */
    /* left: 43%;
    margin: 9px; */
    left: 45%;
    margin: 0px;
    z-index: 4;
    border-color: transparent transparent transparent rgb(247, 247, 247);
    border-width: 11px;
    border-style: solid;
    width:0;
    height: 0;    
}
.timeline .timlincont .right::before{
    content: '';
    position: absolute;
    background-color: rgb(247, 247, 247);
    border: 4px solid var(--maincolor);
    width: 11px;
    height: 11px;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    top: 63%;
    left: 49%;
    margin: 4px;
    z-index: 3;
}
.timeline .timlincont .right::after{
    content: '';
    position: absolute;
    /* top: 66%;
    right: 44%;
    margin: 12px; */
    /* right: 43%;
    margin: 9px; */
    top: 70%;
    right: 46%;
    margin: 0px;
    z-index: 4;
    border-color: transparent rgb(247, 247, 247)  transparent transparent ;
    border-width: 11px;
    border-style: solid;
    width:0;
    height: 0;  
}
.clearfl{
    clear: both;
}


/* ------------------------------------ */

/* ----------------------------------- */
.features{
margin: 6% auto;
}
.features h3{
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    color: var(--maincolor);
    padding: 0 0 2% 0;
    text-transform: capitalize;
}
.featcontain{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: row; */
}
.features .feat-box{   
    width: calc(100% /4);
    margin: 1% ;
}
.features .feat-box img{
    width: 111px;
    background-color: rgb(112, 104, 104);
    border: 4px solid grey;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.features .feat-box h4{
 margin: 1% 0 6% 0;
 position: relative;
}
.features .feat-box h4::before{
 content: "";
 position: absolute;
 bottom:-50%;
 left: 50%;
 /* transform: translate(-50% , -50%); */
 background-color: var(--maincolor);
 width: 10%;
 height: 3px;
 -webkit-transform: translate(-50% , -50%);
 -moz-transform: translate(-50% , -50%);
 -ms-transform: translate(-50% , -50%);
 -o-transform: translate(-50% , -50%);
}
.features .feat-box:hover h4::before{
    background-color: rgb(101, 49, 49);
 }
.features .feat-box p{
 width: 80%;
 margin: 0 auto;
}

/* ----------------------------------- */


.testimon{
    /* margin: 11% auto; */
}




/* ------------------------------------ */

.contact{
    /* min-height: 200vh; */
    background-image: url(../img/mpgr.jpg);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    margin: 2% auto 0 auto;
    
    padding: 4% 0;
    position: relative;
}
.contact .container{
    position: relative;
    z-index:11;
}
.contact .overlay{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
  background-color: rgba(187, 184, 184, 0.892);
}
.contact h3{
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    color: var(--maincolor);
    padding: 0 0 2% 0;
    text-transform: capitalize;
} 
.contact form{
display: flex;
justify-content: center;
align-items: center;
/* flex-wrap: wrap; */
/* text-align: center; */
gap: 5%;
margin: 4% auto 0 auto;
width: 80%;
}
.contact form .left-form-box{
width: 46%;
display: block;
}
.contact form .right-form-box{
    display: block;
    width: 46%; 
}
.contact form .left-form-box input:not([type="submit"]) ,
.contact form .right-form-box textarea {
    width: 100%;
    padding: 2% 1%;
    margin: 2% ;
    background-color: rgba(197, 185, 185, 0.789);
    border: 1px solid rgb(143, 127, 127);
}
.contact form .left-form-box input:not([type="submit"]):focus ,
.contact form .right-form-box textarea:focus {
    outline: 1px solid var(--maincolor);
}
.contact form input{
height: 40px;
}
.contact form textarea{
height: 150px;
}
.contact form .right-form-box input[type="submit"]{
    /* padding: 3% 6%; */
    margin: 2%;
    width: 100%;
    cursor: pointer;
    color: rgb(126, 116, 116);
    text-transform: uppercase;
    /*font-size: 22px;
    */font-weight: bold;
    background-color: var(--maincolor);
    border: none;
    border-radius:8px;
     -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    -webkit-border-radius:8px;
}
.contact form .right-form-box textarea:focus::-webkit-input-placeholder{
      opacity: 0;
      transition: all .6s;
      -webkit-transition: all .6s;
      -moz-transition: all .6s;
      -ms-transition: all .6s;
      -o-transition: all .6s;
}
.contact form .left-form-box input:not([type="submit"]):focus::placeholder ,
.contact form .right-form-box textarea:focus::placeholder{
    opacity: 0;
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
}


/* ------------------------------------ */

/* ---footer-------------------------- */

footer{
    background-color: var(--maincolor);
    width: 100%;
    height: 4%;
    margin: 0% auto;
    text-align: center;
}
footer p{
    color: white;
    padding: 1%;
    font-weight: bold;
    /* margin: 2% 0% 0% 0%; */
}
footer p a{
    color: black;
    text-decoration: none;
    transition: all .5s;
    font-size: 18px;
}
footer p a:hover{
    color: rgb(113, 52, 52);
    font-size: 19px;
 }


 /* ------------------------------------- */